html {
    background-color: black;
}


body {
    display: inline;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
}

#overlay {
    background: rgba(117, 117, 117, 0.8);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    text-align: center;
  }

#overlay img{
    margin: 5%;
    width:70%;
    border-radius: 5px;
}
  
#photo {
    width: 100%;
}

#gallery{
    width: 100%;
    list-style: none;
    margin: 0px auto;
    padding: 10px;
    display: block;
    max-width: 540px;
    text-align: center;
    background-color:gray;
}
#photo img {
    width: 100%;
    text-align: left;
    margin: 2px;
    display: block;
}

#test {
    width: 800px;
    height: 60px;
    font-size: 50px;

}

